
/* body { */
    /* background: linear-gradient(#8ab4f8, lightblue); */
    /* height: 100vh; */
/* } */

.card {
    background-color: #8ab4f8;
    /* background: linear-gradient(#8ab4f8, lightblue)  !important; */
    background-image: url('/images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* opacity: 0.9; */
    height: 100vh;
    color: black;
    /* border-radius: ; */
}

/* #formContainer {
    height: 50px;
    align-items: baseline;
    align-content: center;
} */

/* #formInput {
    border-radius: 30px;
} */

#iconImg {
    padding: 150px;
    padding-top: 0;
}

#headContainer {
    margin: 40px;
    opacity: 0.7;
}

/* #conditionContainer {
    height: 200px;
    width: 200px;
    align-items: center;
} */

#cityContainer {
    padding: 50px;
    opacity: 0.7;
}

#zipInput {
    margin-right: 0;
    padding: 0;
}

/* #getWeatherBtn {
    margin-left: 0;
    padding: 0;
} */

#conditionContainer {
    padding: 50px;

}

/* #cityCol {
    height: 100px;
} */

/* .row>* {
    padding: 0; !important
} */

#farenheight {
    font-size: 50px;
    opacity: 0.7;
}

#celsius {
    padding-top: 30px;
    opacity: 0.5;
}

#kelvin {
    padding-top: 30px;
    opacity: 0.5;
}



.input-group {
    justify-content: center;
    opacity: 0.8;
}

.condition {
    font-size: 30px;
    opacity: 0.8;
}

/* #mainContainer {
    height: 700px;
} */